<div class="navbar">
    <div class="rl nav_left">
        <span class="span_word">like</span>
    </div>
    <div class="fr ">
        <ul class="nav">
            <li><a href="#" class="v-link-active">
               <span class="span_word">首页</span>  </a></li>
            <li>
                <a href="#search">

                <span class="span_word">搜索</span> </a></li>
            <li>
                <a href="#mall">

              <span class="span_word">商城 </span></a></li>
            <li>
                <a href="#cart">

                <span class="span_word">购物袋</span> </a></li>
            <li>
                <a href="#menu">

               <span class="span_word">我的照片</span> </a></li>
        </ul>
     </div>
</div>
<div id="ADContainer">

</div>
