<p><a href="#new" class="btn btn-success" style="margin-left: 40%">New</a></p>
<table class="table table-bordered table-striped table-condensed table-hover info">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
        <th>Score</th>
      <th>edit</th>
        <th>delete</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
<div class="well">
    <button class="btn btn-warning btn-mini firstDelete" style="margin-left: 30%">firstDelete</button>
    <button class="btn btn-warning btn-mini lastDelete">lastDelete</button>
    <button class="btn btn-warning btn-mini sort">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sort&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>

</div>

